@import '../variables';


.cc-edit {
  height: 100%;
  width: 100%;
  .display-none {
    display: none!important;
  }
  > .selectors {
    position: fixed;
    height: 100%;
  }
  > .margin-left-0 {
    width: 100%!important;
    margin-left: 0px!important;
  }
  > .main {
    width: calc(100% - #{$repository-selector-width} - #{$code-and-cooment-selector-width});
    margin-left: $repository-selector-width + $code-and-cooment-selector-width;
    transition: margin-left 0.16s ease 0s;
    > .body {
      width: 1000px;
      padding-top: 18px;
      padding-left: 18px;
      .title {
        width: 400px;
      }
    }
  }
}
