@import '../variables';

.cc-home {
  @extend .cc-center;
  width: 500px;
  height: 100%;
  .links {
    font-size: 14px;
    padding: 14px;
    a {
      color: #0669d9;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
