@import '../variables';

.cc-home {
  font-size: 12px;
  width: $page-width;
  height: 100%;
  .links {
    font-size: 14px;
    padding: 14px;
    a {
      color: #0669d9;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
