@import '../variables';

.cc-search-comment {
  font-size: 12px;
  width: $page-width;
  height: 100%;
  padding: 0px 120px 0px 120px;
  .search {
    padding-top: 24px;
    > div {
      padding-bottom: 6px;
      .label {
        width: 80px;
        display: inline-block;
      }
      input {
        width: 350px;
      }
    }
    > .controls {
      padding-top: 3px;
    }
  }
  .comment-list {
    padding-top: 24px;
    hr {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
