@import '../variables';

.cc-search-comment {
  @extend .cc-center;
  width: 800px;
  height: 100%;
  .search {
    @extend .cc-search-form;
  }
  .comment-list {
    padding-top: 24px;
    hr {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  a {
    color: #111111;
  }
}
