@import '../variables';

.cc-start {
  @extend .cc-center;
  font-size: 12px;
  width: 700px;
  height: 100%;
  > .controls {
    @extend .cc-center;
    width: fit#{"-"}content;
    .url {
      width: 545px;
    }
  }
  > .account {
    padding: 16px 0px;
  }
}
