.cc-button {
  font-size: 12px;
  cursor: pointer;
  color: #242424;
  user-select: none;
  padding: 4px 8px;
  background-image: linear-gradient(-180deg, #fbfbfb, #eaeaea 55%);
  border: solid 1px rgba(30, 30, 30, 0.18);
  border-radius: 3px;
  text-decoration: none;
  &:hover {
    color: #191919;
    background-image: linear-gradient(-180deg, #fbfbfb, #eaeaea 5%);
    border: solid 1px rgba(30, 30, 30, 0.30);
  }
  img {
    position: relative;
    top: 4px;
    height: 16px;
  }
}

.cc-button-disabled {
  cursor: initial;
  background-image: none!important;
  background-color: #fff!important;
  &:hover {
    color: #242424;
    background-image: none!important;
    border: solid 1px rgba(30, 30, 30, 0.18);
  }
}
