@import '../variables';

.cc-code-and-comment-card {
  > .controls {
    padding-top: 6px;
    > .message {
      color: $red;
      height: 18px;
      margin-bottom: 8px;
      margin-top: -4px;
    }
  }
}
