@import '../variables';


.cc-code {
  cursor: pointer;
  .number {
    width: 33px;
    text-align: right;
    display: inline-block;
    padding-right: 4px;
    border-right: $border;
    user-select: none;
  }
  .hidden {
    background-color: rgba(255, 152, 2, 0.45);
  }
  .content {
    white-space: pre;
    display: inline-block;
    padding-left: 9px;
  }
  &:hover {
    outline: none;
  }
}
