@import '../variables';

.cc-comment-card {
  .line {
    @extend .cc-_line;
    border: $border;
    border-bottom: none;
  }
  .comment {
    @extend .cc-display-markdown;
  }
  .controls {
    margin-top: 8px;
  }
}
