@import '../variables';

.cc-highlight {
  background-color: rgba(220, 220, 55, 0.1);
}

.cc-marked {
  background-color: rgba(88, 244, 155, 0.2);
}

.cc-line {
  font-family: $line-font-family;
  font-size: $line-font-size;
  line-height:  $line-line-height;
  min-width: 100%;
  width: max-content;
}
