@import '../variables';


.cc-line {
  font-family: Consolas, SFMono-Regular, Menlo, "Roboto Mono", monospace;
  font-size: 12px;
  line-height: 18px;
  min-width: 100%;
  width: max-content;

  .code {
    cursor: pointer;
    .number {
      width: 33px;
      text-align: right;
      display: inline-block;
      padding-right: 3px;
      border-right: $border;
      user-select: none;
    }
    .hidden {
      background-color: rgba(255, 152, 2, 0.45);
    }
    .content {
      white-space: pre;
      display: inline-block;
      padding-left: 9px;
    }
    &:hover {
      background-color: rgba(24,24,24,0.2);
    }
  }

  .comment {
    font-family: Roboto, sans-serif;
    padding: 12px 48px;
    border-left: none;
    border-top: $border;
    border-bottom: $border;
    border-right: $border;
    background-color: rgba(24, 24, 24, 0.1);
    width: 900px;
    .tab-navigator {
      border-bottom: $border;
      .tabs {
        margin-bottom: -2px;
        .tab {
          cursor: pointer;
          user-select: none;
          border: solid 1px transparent;
          border-radius: 3px 3px 0px 0px;
          padding: 7px 12px 3px 12px;
          font-size: 14px;
          display: inline-block;
        }
        .selected {
          border: $border;
          border-bottom: 0px;
          background-color: #ffffff;
        }
      }
    }
    .display-markdown {
      @extend .cc-display-markdown;
    }
    .input {
      textarea {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        background-color: #fff;
        width: 100%;
        height: 144px;
        padding: 8px;
        border: $border;
        border-top: 0px;
        &:focus {
          outline: none;
        }
      }
      .display-markdown {
        border-top: 0px!important;
      }
    }
    > .controls {
      padding-top: 6px;
    }
  }
}
