@import '../variables';


.cc-menu-bar {
  font-size: 17px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  box-shadow: -3px 3px 6px -3px rgba(0, 0, 0, 0.25);
  height: 58px;
  width: 100%;
  padding: 18px 18px 18px 36px;
  overflow: hidden;
  transition: height 0.1s ease 0s;
  .message {
    padding-bottom: 14px;
    color: $red;
  }
  .label {
    margin-right: 24px;
    cursor: pointer;
    user-select: none;
    color: #67777f;
    vertical-align: top;
    .icon:before {
      height: 17px;
      width: 17px;
      background-color: #67777f;
      content: "";
      display: inline-block;
    }
    .open-and-close {
      -webkit-mask-image: url("dist/open_and_close.svg")
    }
    .new {
      -webkit-mask-image: url("dist/new.svg")
    }
    .list {
      -webkit-mask-image: url("dist/list.svg")
    }
    .delete {
      -webkit-mask-image: url("dist/delete.svg")
    }
    .comment {
      -webkit-mask-image: url("dist/comment.svg")
    }
  }
  .label:hover {
    color: #111111;
    .icon:before {
      background-color: #111111;
    }
  }
}

.cc-menu-bar.creating {
  height: 102px;
  padding: 20px 0px 0px 36px;
  p {
    margin-top: 0px;
    margin-bottom: 6px;
  }
  .url {
    width: 545px;
    border-radius: 3px 0px 0px 3px;
  }
  .cc-button:nth-child(3) {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .cc-button:last-child {
    border-radius: 0px 3px 3px 0px;
  }
}

.cc-menu-bar.deleting {
  height: 97px;
  padding: 20px 0px 24px 36px!important;
}

.cc-menu-bar.loading {
  height: 81px;
  padding: 20px 0px 24px 36px!important;
}
