@import '../variables';


.cc-menu-bar {
  font-size: 16px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  box-shadow: -3px 3px 6px -3px rgba(0, 0, 0, 0.25);
  height: 56px;
  width: 100%;
  padding: 18px 18px 18px 36px;
  overflow: hidden;
  transition: height 0.1s ease 0s;
  .message {
    padding-bottom: 14px;
    color: $red;
  }
  .label {
    margin-right: 24px;
    cursor: pointer;
    user-select: none;
    color: #67777f;
  }
  .label:hover {
    color: #111111;
  }
}

.cc-menu-bar.input {
  p {
    margin-top: 0px;
    margin-bottom: 6px;
  }
  padding: 22px 0px 0px 36px;
}

.cc-menu-bar.creating {
  input {
    width: 545px;
    border-radius: 3px 0px 0px 3px;
  }
  .cc-button:nth-child(3) {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .cc-button:last-child {
    border-radius: 0px 3px 3px 0px;
  }
  height: 104px;
}

.cc-menu-bar.importing {
  height: 170px;
  .input-file {
    margin-bottom: 20px;
  }
}

.cc-menu-bar.deleting {
  height: 97px;
  padding: 20px 0px 24px 36px!important;
}

.cc-menu-bar.loading {
  height: 81px;
  padding: 20px 0px 24px 36px!important;
}
