@import '../variables';

.cc-popup {
  position: absolute;
  z-index: 100;
  width: 800px;
  padding: 18px;
  border: $border;
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.15);
  .line {
    @extend .cc-_line;
  }
}
