@import '../variables';


.cc-repository-selector {
  .application-name {
    padding: 12px 0px;
    font-size: 24px;
    font-family: Caladea, serif;
    text-align: center;
  }
  overflow-y: auto;
  border: $border;
  border-top: 0px;
  border-bottom: 0px;
  width: $repository-selector-width;
  height: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  .repository {
    cursor: pointer;
    padding: 6px 12px;
    word-break: break-all;
    &:hover {
      background-color: #303030;
    }
  }
  .selected {
    background-color: #333333;
  }
}
