$page-width: 1000px; 

.cc-outer-file {
  font-size: 12px;
  width: $page-width;
  height: 100%;
  .file {
    overflow-x: auto;
    border: solid 1px rgba(24, 24, 24, 0.2);
    margin-bottom: 36px;
  }
}

.cc-display-markdown {
  color: #111111;
  background-color: #fff;
  border: solid 1px rgba(24, 24, 24, 0.2);
  line-height: initial;
  overflow: auto;
  word-break: keep-all;
  p {
    margin: 0px;
    padding: 8px;
  }
}

.cc-search-form {
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  > div {
    padding-bottom: 6px;
    .label {
      font-size: 14px;
      width: 80px;
      display: inline-block;
    }
    input {
      width: 350px;
    }
  }
  > .controls {
    padding-top: 7px;
  }
}
