$red: #cc2222;
$border: solid 1px rgba(24, 24, 24, 0.2);
$repository-selector-width: 280px;
$code-and-cooment-selector-width: 280px;

.cc-outer-file {
  height: 100%;
  .file-header {
    margin-top: 12px;
    border: $border;
    border-bottom: none;
    padding: 12px;
    border-radius: 4px 4px 0px 0px;
    background-color: #e8e8e8;
    div:first-child {
      margin-bottom: 8px;
    }
    a {
      color: #111111;
    }
  }
  .file {
    font-size: 12px;
    overflow-x: auto;
    border: $border;
    margin-bottom: 36px;
  }
}

.cc-display-markdown {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: $border;
  line-height: initial;
  overflow: auto;
  word-break: keep-all;
  padding: 8px;
  h1, h2, h3 {
    margin: 8px 0px;
    border-bottom: solid 1px #e8e4e4;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    margin: 0px;
  }
  ul {
    padding-left: 32px;
  }
  li {
    padding: 2px 0px;
  }
  code {
    padding: 2px 5px;
    background-color: rgba(237, 237, 237, 0.85);
    font-family: inherit;
  }
  pre > code {
    display: block;
    padding: 8px;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    th, td {
      padding: 4px 8px;
      border: $border;
    }
  }
}


.cc-center {
  margin-left: auto;
  margin-right: auto;
}


.cc-search-form {
  @extend .cc-center;
  width: fit#{"-"}content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  > div {
    padding-bottom: 6px;
    .label {
      font-size: 14px;
      width: 80px;
      display: inline-block;
    }
    input {
      width: 350px;
    }
  }
  > .controls {
    padding-top: 7px;
  }
}
