@import 'start';
@import 'edit';
@import 'view';
@import 'save';
@import 'publish';
@import 'line';
@import 'header';
@import 'navigator';
@import 'comment-list';

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
