@import 'pages/start';
@import 'pages/edit';
@import 'pages/view';
@import 'pages/save';
@import 'pages/update';
@import 'pages/publish';
@import 'pages/home';
@import 'pages/search-code-and-comment';
@import 'pages/search-comment';

@import 'parts/button';
@import 'parts/line';
@import 'parts/loading';
@import 'parts/header';
@import 'parts/navigator';
@import 'parts/comment-list';
@import 'parts/code-and-comment-card';
@import 'parts/comment-card';

html, body {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  line-height: 20px;
  padding: 3px 6px;
  border: solid 1px #cccccc;
  border-radius: 3px;
}
