@import 'pages/start';
@import 'pages/edit';
@import 'pages/view';
@import 'pages/publish';
@import 'pages/search-code-and-comment';
@import 'pages/search-comment';

@import 'parts/button';
@import 'parts/line';
@import 'parts/loading';
@import 'parts/header';
@import 'parts/navigator';
@import 'parts/comment-list';
@import 'parts/code-and-comment-card';
@import 'parts/comment-card';
@import 'parts/code-and-comment-selector';
@import 'parts/repository-selector';
@import 'parts/menu-bar';

html, body {
  font-family: Roboto, sans-serif;
  color: #111111;
  font-size: 14px;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  line-height: 20px;
  padding: 3px 6px;
  border: solid 1px #cccccc;
  border-radius: 3px;
}

a {
  color: #0669d9;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  background-color: #ececec;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
